



    padding-left: 200px;
}

/* Ejercicio 4: */

/* Acá va tu código */

#ejercicioCuatro{
  position:fixed;
  top: 0px;

        
}

/* Ejercicio 5: */

/* Acá va tu código */
#ejercicioCinco{
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
}



/* Ejercicio 6. */

/* Ejercicio 7. */
#ejercicioSiete{
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: center;
}